<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="menu sm-center">
                        <h3 class="fonts {% if craft.i18n.getCurrentLocale() == 'th' %}rsubold{% else %}montserrat-bold{% endif %} title">{% if craft.i18n.getCurrentLocale() == 'th' %}เกี่ยวกับเรา{% else %}About GEL{% endif %}</h3>

						<ul class="list-unstyled">
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/general_info.html{% else %}http://investor.gel.co.th/general_info.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}ข้อมูลทั่วไปของบริษัท{% else %}General Information{% endif %}
								</a>
							</li>
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/nature_business.html{% else %}http://investor.gel.co.th/nature_business.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}ลักษณะการประกอบธุรกิจ{% else %}Natural of Business{% endif %}
								</a>
							</li>
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/company_history.html{% else %}http://investor.gel.co.th/company_history.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}ประวัติความเป็นมาของบริษัท{% else %}Company's History{% endif %}
								</a>
							</li>
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/vision.html{% else %}http://investor.gel.co.th/vision.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}วิสัยทัศน์และพันธกิจ{% else %}Vision & Mission{% endif %}
								</a>
							</li>
						</ul>
                    </div><!-- menu --> 
                </div>

                <div class="col-sm-3">
                    <div class="menu sm-center">
                        <h3 class="fonts {% if craft.i18n.getCurrentLocale() == 'th' %}rsubold{% else %}montserrat-bold{% endif %} title">{% if craft.i18n.getCurrentLocale() == 'th' %}นักลงทุนสัมพันธ์{% else %}Investors{% endif %}</h3>
						
						<ul class="list-unstyled">
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/financial_highlights.html{% else %}http://investor.gel.co.th/financial_highlights.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}ข้อมูลทางการเงิน{% else %}Financial Information{% endif %}
								</a>
							</li>
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/stock_chart_interactive.html{% else %}http://investor.gel.co.th/stock_chart_interactive.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}ข้อมูลราคาหลักทรัพย์{% else %}Stock Information{% endif %}
								</a>
							</li>
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/shareholdings.html{% else %}http://investor.gel.co.th/shareholdings.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}ข้อมูลผู้ถือหุ้น{% else %}Shareholder Information{% endif %}
								</a>
							</li>
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/cg_policy.html{% else %}http://investor.gel.co.th/cg_policy.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}การกำกับดูแลกิจการที่ดี{% else %}Corporate Governance{% endif %}
								</a>
							</li>
							<li>
								<a href="{% if craft.i18n.getCurrentLocale() == 'th' %}http://investor-th.gel.co.th/csr.html{% else %}http://investor.gel.co.th/csr.html{% endif %}">
								{% if craft.i18n.getCurrentLocale() == 'th' %}ความรับผิดชอบต่อสังคม{% else %}Corporate Social Responsibility{% endif %}
								</a>
							</li>
						</ul>
                    </div><!-- menu -->
                </div>

                <div class="col-sm-3">
                    <div class="menu sm-center">
                        <h3 class="fonts {% if craft.i18n.getCurrentLocale() == 'th' %}rsubold{% else %}montserrat-bold{% endif %} title">{% if craft.i18n.getCurrentLocale() == 'th' %}ผลิตภัณฑ์{% else %}PRODUCT{% endif %}</h3>

                        <ul class="list-unstyled">
                            <li><a href="{{ craft.entries.id(8).first().url }}">{{ craft.entries.id(8).first().title }}</a></li>
                            <li><a href="{{ craft.entries.id(1464).first().url }}">{{ craft.entries.id(1464).first().title }}</a></li>
                            <li><a href="{{ craft.entries.id(9).first().url }}">{{ craft.entries.id(9).first().title }}</a></li>
                            <li><a href="{{ craft.entries.id(10).first().url }}">{{ craft.entries.id(10).first().title }}</a></li>
                            <li><a href="{{ craft.entries.id(11).first().url }}">{{ craft.entries.id(11).first().title }}</a></li>
                            <li><a href="{{ craft.entries.id(12).first().url }}">{{ craft.entries.id(12).first().title }}</a></li>
                            <li><a href="{{ craft.entries.id(13).first().url }}">{{ craft.entries.id(13).first().title }}</a></li>
                        </ul>
                    </div><!-- menu -->
                </div>

                <div class="col-sm-3">
                    <div class="menu sm-center">
                        <h3 class="fonts {% if craft.i18n.getCurrentLocale() == 'th' %}rsubold{% else %}montserrat-bold{% endif %} title">{% if craft.i18n.getCurrentLocale() == 'th' %}ร่วมงานกับเรา{% else %}CAREER OPPORTUNITIES{% endif %}</h3>

                        <ul class="list-unstyled">
                            <li><a href="{{ siteUrl }}work-with-gel/#why-gel">{% if craft.i18n.getCurrentLocale() == 'th' %}ทำไมต้อง GEL?{% else %}WHY GEL?{% endif %}</a></li>
                            <li><a href="{{ siteUrl }}work-with-gel/#available-jobs">{% if craft.i18n.getCurrentLocale() == 'th' %}ตำแหน่งที่รับสมัคร{% else %}AVAILABLE JOBS{% endif %}</a></li>
                            <li><a href="{{ siteUrl }}work-with-gel/#instruction">{% if craft.i18n.getCurrentLocale() == 'th' %}ข้อตกลงและแบบฟอร์ม{% else %}APPLICATION AND CONTRACT{% endif %}</a></li>
                        </ul>
                    </div><!-- menu -->
                </div>

            </div>
        </div>
    </div><!-- footer -->

    <div id="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 md-center"><div class="copyright">{{ globalField.copyrightText }}</div></div>
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline social">
                        <li><a href="{{ globalField.facebookLink }}" title="facebook" target="_blank"><img src="{{ craft.config.environmentVariables.baseUrl }}assets/img/fb-2.png"></a></li>
                        <li><a href="{{ globalField.youtubeLink }}" title="youtube" target="_blank"><img src="{{ craft.config.environmentVariables.baseUrl }}assets/img/youtube-2.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- subfooter -->

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/vendor/bootstrap.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ craft.config.environmentVariables.baseUrl }}assets/js/jquery.validate.min.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/plugins.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/jquery.viewport.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/countUp.min.js"></script>
<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-67747548-1', 'auto');
    ga('send', 'pageview');
</script-->