{% include "_header" %}
{% include "_header2" %}
{% set top = 1 %}
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <a href="{{ craft.entries.id(1300).first().url }}" title="Applicator Training" target="_blank">
                <img src="{{ craft.config.environmentVariables.baseUrl }}assets/img/invitation_card.jpg"
                    class="img-responsive" alt="invitation_card">
            </a>
        </div>

    </div>
</div>

<!--div class="content-a activity-modal">
    <div class="content-b">
        <div class="container">
            <img src="{{ craft.config.environmentVariables.baseUrl }}assets/img/invitation_card.jpg" class="img-responsive">  
        </div>
    </div>    
</div-->


<section id="welcome-section" class="fullscreen background"
    style="background-image:url({{ entry.heroImage.first().getUrl()}});" data-img-width="1900" data-img-height="1433">
    <div class="content-a">
        <div class="content-b">
            <div class="wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <img src="{{ craft.config.environmentVariables.baseUrl }}assets/img/logo.png"
                    class="img-responsive center-block img-logo">
                <h1>SPARK WONDER EVERYTHING POSSIBLE</h1>
            </div>
            <a href="#section1"><i class="fa fa-angle-double-down"></i></a>
        </div>
    </div>
</section>
<!--welcome-section-->

<section id="section1">
    {% include "_topbar" %}
    <section class="section _toppd-100 _bottompd-100">
        <div class="container">
            <div class="home-header">
                <h2 class="title">{{ entry.heroTitle }}</h2>
            </div>
            {% set foo1 = 0 %}
            {% set thumb = {
                mode: 'crop',
                width: 223,
                height: 162,
                quality: 85,
                position: 'center-center'
            } %}
            <div class="row _topmg-60 section wow fadeInLeft equal" style="justify-content: center;">
                {% for keys, singleSolution in entry.solutionGroup %}
                <div class="col-sm-4">
                    <div class="image-box hover-box text-center">
                        <a href="{{ singleSolution.solutionLink }}"><img
                                src="{{  singleSolution.solutionImage.first().getUrl() }}"
                                class="img-responsive center-block">
                            <h4 class="title">{{ singleSolution.solutionTitle }}</h4>
                            <p class="lead">{{ singleSolution.solutionDescription|nl2br }}</p>
                        </a>
                    </div><!-- image-box -->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>

<section id="count-content" class="section _toppd-100 _bottompd-100">
    <div class="container">
        <div class="home-header">
            <h2 class="title">LOOKING AHEAD TO THE FUTURE</h2>
        </div>

        <div class="row wow zoomIn _topmg-60 section">
            {% for keys, singleCounter in entry.counterGroup %}
            <div class="col-md-3 col-sm-6">
                <div class="number-wrapper">
                    <span id="number{{ keys }}" class="number"
                        data-count="{{ singleCounter.counter }}">{{ singleCounter.counter }}</span>
                    <p class="title">{{ singleCounter.counterTitle }}</p>
                </div><!-- number-wrapper -->
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- count-content -->

<section id="slide-home">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for keys, singleSlider in entry.sliderGroup %}
            <div class="swiper-slide ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 image-container">
                            <img src="{{  singleSlider.sliderImage.first().getUrl() }}" class="img-responsive">
                        </div>
                        <div class="col-sm-6 slide-image-content ">
                            <h4 class="title">{{ singleSlider.sliderTitle }}</h4>
                            <div class="col-count">
                                {{ singleSlider.sliderContent }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- swiper-slide -->
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section><!-- slide-home -->

<section class="section _toppd-100 _bottompd-100 border-b">
    <div class="container">
        <div class="home-header">
            <h2 class="title">NEWS & ACTIVITIES</h2>
        </div>

        {% set feature_entries =  craft.entries.section('investors').featurePost('1').limit(2) %}
        {% set thumb = {
                mode: 'fit',
                width: 245,
                height: 165,
                quality: 85, 
                position: 'center-center' 
            } %}

        <div class="row wow fadeInLeft _topmg-60 section">
            {% if feature_entries | length %}

            {% for entry in feature_entries %}
            <div class="col-sm-6">
                <div class="image-box row">
                    <a
                        href="{% if entry.type == 'link' %}{{ entry.entryDocument.first().getUrl() }}{% else %}{{ entry.url }}{% endif %}">
                        <div class="col-sm-5">
                            <img src="{% if  entry.entryThumb.first()|length %}{{ entry.entryThumb.first().getUrl(thumb) }}{% else %}{{ craft.config.environmentVariables.baseUrl }}assets/img/cover_investor_GEL1.png{% endif %}"
                                class="img-responsive center-block">
                        </div>
                        <div class="col-sm-7">
                            <h4 class="title">{{ entry.title }}</h4>
                            <div class="post-info"><span class="date"><i class="icon-calendar"></i> <span
                                        class="post-date updated"
                                        style="color: #a8a8a8;">{{ entry.postDate.format('F d, Y') }}</span><span
                                        class="date"></span></span></div>
                            <p class="lead">{{ entry.entryContent | truncate('chars', '150', ' [...]', true) }}</p>
                        </div>
                    </a>
                </div><!-- image-box -->
            </div>
            {% endfor %}

            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-100 _bottompd-100">
    <div class="container">
        <div class="home-header">
            <h2 class="title">{{ entry.possibilitieTitle }}</h2>
        </div>

        <div class="row wow fadeInLeft _topmg-60 section">
            {% set thumb2 = {
                mode: 'crop',
                width: 202,
                height: 168,
                quality: 85,
                position: 'center-center'
            } %}
            {% for keys, singlePossibility in entry.possibilitiesGroup %}
            <div class="col-sm-3">
                <div class="image-box">
                    <a href="javascript: void(0);"><img
                            src="{{  singlePossibility.possibilitiesImage.first().getUrl(thumb2) }}"
                            class="img-responsive center-block">
                        <h4 class="title">{{ singlePossibility.possibilitiesTitle }}</h4>
                        <p class="lead">{{ singlePossibility.possibilitiesDescription|nl2br }}</p>
                    </a>
                </div><!-- image-box -->
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- <section id="map-section">
    
    <div class="google-map-contact-wrapper">
        <div class="get_in_touch">
            <h3>{{ globalField.addressGroup.first().addressTitle }}</h3>
            <div class="get_in_touch_wrapper">
                <ul>
                    <li class="address">
                        <span class="icon"><i class="icon-location"></i></span>
                        <span class="address_wrapper">
                            <span id="address_1" data-head="HEAD OFFICE">
                                <i class="fa fa-map-marker"></i> <span id="addr"><p>{{ globalField.addressGroup.first().address }}</p></span>
                            <br><br><br>
                            <i class="fa fa-download"></i> <a id="map" class="" href="{{ globalField.addressGroup.first().addressMap.first().getUrl() }}" target="_blank">Download Map</a>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="location-map" class="map no-margin-bottom" style="height:500px;"></div>
</section> -->

<section class="home contact section _bottompd-60">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-center">
                <h3 class="title fonts montserrat-light">HAVE ANY QUESTIONS?</h3>
                <div class="fonts montserrat-bold"><a href="mailto:{{ globalField.email }}">{{ globalField.email }}</a>
                </div>
            </div>
            <div class="col-md-4 md-center">
                <h3 class="title fonts montserrat-light">CALL GEL</h3>
                <div class="fonts montserrat-bold"><a
                        href="tel:{{ globalField.telephone }}">{{ globalField.telephone }}</a></div>
            </div>
            <div class="col-md-4 md-center">
                <h3 class="title fonts montserrat-light">FAX GEL</h3>
                <div class="fonts montserrat-bold"><a href="tel:{{ globalField.fax }}">{{ globalField.fax }}</a></div>
            </div>
        </div>
    </div>
</section>



{% include "_footer" %}
<script>
    $(function () {
        /* ------------------------------------------------
                Init Google Map
        --------------------------------------------------- */
        // function defaultMap() {
        //     if(document.getElementById('location-map')) {
        //         var image = '{{ craft.config.environmentVariables.baseUrl }}assets/img/logo.jpg';

        //         var mapOptions = {

        //             /*---- Map Location (Latitude,Longitude) ----*/

        //             center: new google.maps.LatLng( {{ globalField.addressGroup.first().addressLat }},  {{ globalField.addressGroup.first().addressLng }}),
        //             zoom: 15,
        //             zoomControl: true,
        //             zoomControlOptions: {
        //                     style:google.maps.ZoomControlStyle.SMALL
        //             },
        //             panControl:false,
        //             mapTypeControl:false,
        //             scaleControl:false,  
        //             streetViewControl:false,
        //             overviewMapControl:false,
        //             rotateControl:false,
        //             scrollwheel: true,
        //             mapTypeId: google.maps.MapTypeId.ROADMAP,

        //         };

        //         /*---- Plotting Map ----*/

        //         var map = new google.maps.Map(document.getElementById('location-map'), mapOptions);

        //         var bounds = new google.maps.LatLngBounds ();

        //         /*---- Setting Popup ----*/
        //         {% for keys, singleAddress in globalField.addressGroup %}

        //         {% endfor %}

        //         /*---- Setting Marker ----*/ 
        //         {% for keys, singleAddress in globalField.addressGroup %}
        //             var mapMarker{{ keys }} = new google.maps.Marker({ 
        //                 position: new google.maps.LatLng( {{ singleAddress.addressLat }},  {{ singleAddress.addressLng }}),
        //                 map: map,
        //                 icon: image
        //             });
        //             bounds.extend(new google.maps.LatLng( {{ singleAddress.addressLat }},  {{ singleAddress.addressLng }} ));

        //             mapMarker{{ keys }}.addListener('click', function() {
        //                 $('#map-section h3').text( '{{ singleAddress.addressTitle }}' );
        //                 $('#map-section #addr').html( '{{ singleAddress.address }}' );
        //                 $('#map-section #map').attr( 'href' , '{{ singleAddress.addressMap.first().getUrl() }}' );
        //             });

        //         {% endfor %}

        //         map.fitBounds(bounds);


        //     }
        // }

        // defaultMap();

        //$('#myModal2').modal("show");
    });    
</script>
{% include "_footer2" %}