{% include "_header" %}
{% include "_header2" %}
{% set top = 5 %}

<style>
    .imageCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    .textCenter {
        text-align: center;
    }

</style>

{% include "_topbar" %}

<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">โครงสร้างการจัดการ</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">Management Structure</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-60 _bottompd-100">
    <!--
    <div class="sectional-header">
        <h3 class="heading">{{ craft.entries.section('corporateSocialResponsibility').first().title }}</h3>  
    </div>
    -->
    
    {% if craft.i18n.getCurrentLocale() == 'th' %}
    <div class="container" style="width:70%">
        <div class="row" style="padding-bottom:30px;">
            <div id="group-structure-diagram">
                <img class="imageCenter" src="http://www.gel.co.th/assets/images/investor/management-structure-th.png#asset:2568:url">
            </div>
            <!-- <div style="margin-top: 1em;">
                <div class="textCenter">As of December 31<sup>th</sup>, 2019</div>
            </div>     -->
        </div>
    </div>
    {% else %}
    <div class="container" style="width:70%">
        <div class="row" style="padding-bottom:30px;">
            <div id="group-structure-diagram">
                <img class="imageCenter" src="http://www.gel.co.th/assets/images/investor/management-structure-en.png#asset:2569:url">
            </div>
            <!-- <div style="margin-top: 1em;">
                <div class="textCenter">As of December 31<sup>th</sup>, 2019</div>
            </div>     -->
        </div>
    </div>
    {% endif %}

</section>


{% include "_footer" %}
{% include "_footer2" %}