{% include "_header" %}
{% include "_header2" %}
{% set top = 5 %}

<style>
    .imageCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .textCenter {
        text-align: center;
    }

    .modal-header, h4, .close {
        /* background-color: #5cb85c; */
        color:white !important;
        text-align: center;
        font-size: 30px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
</style>


{% include "_topbar" %}

<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">คณะผู้บริหาร</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">Management Team</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-60 _bottompd-100">
    <!--
    <div class="sectional-header">
        <h3 class="heading">{{ craft.entries.section('corporateSocialResponsibility').first().title }}</h3>  
    </div>
    -->

    <div class="modal fade" id="bioModal" role="dialog" width="1500px">
        <div class="modal-dialog" style="width:60%" height="900px">
            <div class="modal-content">

                <div class="modal-header" style="padding:20px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>
                    <span class="glyphicon glyphicon-lock"></span> 
                    <span style="color:black; font-size:large">
                        <span id="bioName"></span><br/><span id="bioTitle"></span>
                    </span>
                    </h4>
                </div>
                <div class="modal-body" style="padding:20px 40px;">                
                    <iframe id="bioContent" src="#" style="border:none" width="100%" height="800"></iframe>                
                </form>
                </div>
            </div>
        </div>
    </div>
    
    {% if craft.i18n.getCurrentLocale() == 'th' %}
    <div class="container">

        <div class="row" >
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="thitipong-th" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/thitipong_tangpoonphonvivat.jpg#asset:2556:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="thitipong-th" href="#">นายธิติพงศ์ ตั้งพูนผลวิวัฒน์</a>
                            <br/>
                            <a class="thitipong-th" href="#">ประธานกรรมการบริหาร / ประธานเจ้าหน้าที่บริหาร</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="tawat-th" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="tawat-th" href="#">นายอมรศักดิ์ โตรส</a>
                            <br/>
                            <a class="tawat-th" href="#">รองประธานเจ้าหน้าที่บริหารสายการผลิต</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="wuttichai-th" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/wuttichai_sresthabutra.jpg#asset:2557:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="wuttichai-th" href="#">นายวุฒิชัย เศรษฐบุตร</a>
                            <br/>
                            <a class="wuttichai-th" href="#">กรรมการบริหารและเลขานุการบริษัท</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="wisadja-th" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/wisadja_kochsena.jpg#asset:2572:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="wisadja-th" href="#">นางวิสัจจา คชเสนา</a>
                            <br/>
                            <a class="wisadja-th" href="#">ผู้อำนวยการฝ่ายบัญชีและการเงิน</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="#" href="#">นางสาวชื่นสุข มีโพธิ์สม</a>
                            <br/>
                            <a class="#" href="#">ผู้อำนวยการฝ่ายพัฒนาและควบคุมธุรกิจ</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="#" href="#">นายสมนึก พทธิวัฒน์</a>
                            <br/>
                            <a class="#" href="#">ผู้อำนวยการฝ่ายบริการเสาเข็มคอนกรีตอัดแรง</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="saran-th" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="saran-th" href="#">นายศรัณย์ เวียงคำมา</a>
                            <br/>
                            <a class="saran-th" href="#">ผู้อำนวยการฝ่ายผลิตและบริการผนังคอนกรีตสำเร็จรูป</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="#" href="#">นางลินจง ศรีสงคราม</a>
                            <br/>
                            <a class="#" href="#">ผู้อำนวยการฝ่ายขาย</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="#" href="#">นายชาติชาย หิรัญนุช</a>
                            <br/>
                            <a class="#" href="#">ผู้อำนวยการฝ่ายดิจิทัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
    {% else %}
    
    <div class="container">
        
        <div class="row" >
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="thitipong-eng" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/thitipong_tangpoonphonvivat.jpg#asset:2556:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="thitipong-eng" href="#">Mr. Thitipong Tangpoonphonvivat</a>
                            <br/>
                            <a class="thitipong-eng" href="#">Director / Chief Executive Officer</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="tawat-eng" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="tawat-eng" href="#">Mr. Amornsak Torot</a>
                            <br/>
                            <a class="tawat-eng" href="#">Deputy Chief Executive Officer - Production</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="wuttichai-eng" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/wuttichai_sresthabutra.jpg#asset:2557:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="wuttichai-eng" href="#">Mr. Wuttichai Sresthabutra</a>
                            <br/>
                            <a class="wuttichai-eng" href="#">Director and Company Secretary</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="wisadja-eng" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/wisadja_kochsena.jpg#asset:2572:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="wisadja-eng" href="#">Ms. Wisadja Kodchasena</a>
                            <br/>
                            <a class="wisadja-eng" href="#">Director of Finance and Account</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="#" href="#">Ms. Chuensuk Meeposom</a>
                            <br/>
                            <a class="#" href="#">Vice President of Business Development and Business Control</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="#" href="#">Mr. Somnuk Puttiwat</a>
                            <br/>
                            <a class="#" href="#">Vice President of Service Ring Reinforced Concrete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="saran-eng" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p>                        
                            <a class="saran-eng" href="#">Mr. Saran Wiangkhamma</a>
                            <br/>
                            <a class="saran-eng" href="#">Vice President of Production & Service Precast Concrete Wall</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="#" href="#">Mrs. Linjong Srisongkhram</a>
                            <br/>
                            <a class="#" href="#">Vice President of Sale</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card textCenter" style="width: 30rem;">
                    <a class="#" href="#"><img class="imageCenter" style="width:245px; height:183px;" src="http://www.gel.co.th/assets/images/investor/Management-Team/no-image.jpg#asset:2564:url"></a>
                    <div class="card-body">
                        <p> 
                            <a class="#" href="#">Mr. Chardchai Hirunnuj</a>
                            <br/>
                            <a class="#" href="#">Vice President of Digital</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endif %}

</section>


{% include "_footer" %}

<script>
    $(document).ready(function(){
        // $("#myBtn").click(function(){
        //     $("#myModal").modal();
        // });

        if($(".thitipong-th").length) {
            $(".thitipong-th").click(function() {  
                $("#bioName").text("นายธิติพงศ์ ตั้งพูนผลวิวัฒน์");
                $("#bioTitle").text("ประธานกรรมการบริหาร / ประธานเจ้าหน้าที่บริหาร");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/thitipong-th.html");
                $("#bioModal").modal();
            });
        } else if($(".thitipong-eng")) {
            $(".thitipong-eng").click(function() {  
                $("#bioName").text("Mr. Thitipong Tangpoonphonvivat");
                $("#bioTitle").text("Chairman of Executive Committee / Chief Executive Officer");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/thitipong-eng.html");
                $("#bioModal").modal();
            });
        }

        // if($(".tawat-th").length) {
        //     $(".tawat-th").click(function() {  
        //         $("#bioName").text("ดร.ธวัช อนันต์ธนวณิช");
        //         $("#bioTitle").text("กรรมการบริหาร / กรรมการผู้จัดการ");
        //         $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/tawat-th.html");
        //         $("#bioModal").modal();
        //     });
        // } else if($(".tawat-eng")) {
        //     $(".tawat-eng").click(function() {  
        //         $("#bioName").text("Dr. Tawat Anantanavanich");
        //         $("#bioTitle").text("Executive Committee / Managing Director");
        //         $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/tawat-eng.html");
        //         $("#bioModal").modal();
        //     });
        // }

        if($(".wuttichai-th").length) {
            $(".wuttichai-th").click(function() {  
                $("#bioName").text("นายวุฒิชัย เศรษฐบุตร");
                $("#bioTitle").text("กรรมการบริหารและเลขานุการบริษัท");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/wuttichai-th.html");
                $("#bioModal").modal();
            });
        } else if($(".wuttichai-eng")) {
            $(".wuttichai-eng").click(function() {  
                $("#bioName").text("Mr. Wuttichai Sresthabutra");
                $("#bioTitle").text("Executive Committee and Company Secretary");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/wuttichai-eng.html");
                $("#bioModal").modal();
            });
        }

        if($(".wisadja-th").length) {
            $(".wisadja-th").click(function() {  
                $("#bioName").text("นางวิสัจจา คชเสนา");
                $("#bioTitle").text("ผู้อำนวยการฝ่ายบัญชีและการเงิน");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/wisadja-th.html");
                $("#bioModal").modal();
            });
        } else if($(".wisadja-eng")) {
            $(".wisadja-eng").click(function() {  
                $("#bioName").text("Mrs. Wisadja Kochsena");
                $("#bioTitle").text("Director of Finance and Account");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/wisadja-eng.html");
                $("#bioModal").modal();
            });
        }

        if($(".saran-th").length) {
            $(".saran-th").click(function() {  
                $("#bioName").text("นายศรัณย์ เวียงคำมา");
                $("#bioTitle").text("ผู้อำนวยการฝ่ายผลิตและบริการผนังคอนกรีตสำเร็จรูป");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/saran-th.html");
                $("#bioModal").modal();
            });
        } else if($(".saran-eng")) {
            $(".saran-eng").click(function() {  
                $("#bioName").text("Mr. Saran Wiangkhamma");
                $("#bioTitle").text("Vice President of Production & Service Precast Concrete Wall");
                $("#bioContent").attr("src", "http://www.gel.co.th/craft/templates/about/biography/saran-eng.html");
                $("#bioModal").modal();
            });
        }

    });
</script>

{% include "_footer2" %}