{% include "_header" %}
{% include "_header2" %}
{% set top = 5 %}

{% include "_topbar" %}

<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">วิสัยทัศน์และพันธกิจ</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">Vision & Mission</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-60 _bottompd-100">
    <!--
    <div class="sectional-header">
        <h3 class="heading">{{ craft.entries.section('corporateSocialResponsibility').first().title }}</h3>  
    </div>
    -->
    
    {% if craft.i18n.getCurrentLocale() == 'th' %}
    <div class="container" style="width:60%" align="center">
        <div class="row">
            <div class="col">
                <div style="margin-left:30px; width:80%;">
                    <div style="text-align:justify; padding:20px; background-color:#1d5124; color:#ffffff;">    
                        <span style="font-size:40px;">วิสัยทัศน์</span>
                        <br/>
                        <span style="font-size:25px;">“นำแรงบัลดาลใจ นวัตกรรมและความชำนาญด้านการก่อสร้างสู่ใจลูกค้า”</span>
                    </div>
                    <div align="center" style="margin-top:20px;">
                        <span><b style="font-size:40px;">พันธกิจ</b></span>
                    </div>
                    <div style="background-color:#f9f9f9; margin-top:15px; padding:15px; width:90%" align="left">
                        <p>
                            <b>สร้างคน</b> 
                            <ul>
                                <li>GEL เป็นองค์กรมุ่งผลงานที่สร้างคุณค่าแก่ผู้เกี่ยวข้องทุกภาคส่วนด้วยบรรยากาศการทำงานเป็นทีมร่วมกับผู้อื่นอย่างเปิดกว้าง จากผู้เชี่ยวชาญ พร้อมจริยธรรมทางวิชาชีพ</li>
                            </ul>
                        </p>
                        <p>
                            <b>สร้างงาน</b>
                            <ul>                          
                                <li>นำระบบเทคโนโลยีดิจิทัลมาใช้พัฒนากระบวนการทำงานใช้ผลักดันสินค้าและบริการ และใช้เพิ่มความสามารถในการเข้าใจ</li>
                                <li>เราจะพัฒนาทั้งกระบวนการทำงาน การผลิตสินค้าและงานบริการอย่างรัดกุมเพื่อนำไปสู่ประสิทธิภาพอันยอดเยี่ยมในการทำงานพร้อมยกระดับคุณภาพผลงานสูงสุด</li>
                            </ul>
                        </p>
                        <p>
                            <b>สร้างพันธมิตร</b>
                            <ul>                          
                                <li>GEL ส่งมอบผลิตภัณฑ์ งานบริการและให้คำปรึกษาบริหารจัดการด้วยนวัตกรรม ที่ทำให้ลูกค้าเกิดความสนใจและผูกพัน</li>
                                <li>GEL เป็นศูนย์กลางด้านการจัดหาระบบเทคโนโลยีงาน</li>
                            </ul>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row" style="width:100%" align="center">
            <div class="col">
                <div style="margin-left:30px; width:80%;">
                    <div style="text-align:justify; padding:20px; background-color:#1d5124; color:#ffffff;">    
                        <span style="font-size:40px;">Vision</span>
                        <br/>
                        <span style="font-size:25px;">Construction without complication</span>
                    </div>
                    <div align="center" style="margin-top:20px;">
                        <span><b style="font-size:40px;">Mission</b></span>
                        <br/>
                        <span style=""><b>The company is committed to operating a successful result. Through the concept</b></span>
                    </div>
                    <div style="background-color:#f9f9f9; margin-top:15px; padding:15px; width:90%" align="left">
                        <ul>
                            <li><b>Total Solution Provider</b>
                            <br/>We are the embodiment of service and advice to customers. So customers can control costs and div period, as planned and highest quality.
                            </li>
                            <li><b>It is one of the customers</b>
                            <br/>We are producing goods and services to provide customers with the most satisfaction.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


</section>



{% include "_footer" %}
{% include "_footer2" %}