{% include "_header" %}
{% include "_header2" %}
{% set top = 2 %}

{% include "_topbar" %}
<section class="title-page parallax" style="background-image:url('{{ entry.glassfiberTitleImage.first().getUrl() }}');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            <h1 class="{% if craft.i18n.getCurrentLocale() == 'th' %}rsubold{% else %}montserrat-bold{% endif %} fonts">{{ entry.title }}</h1>
        </div>
    </div>
</section>

<section class="section -side-image right-img background parallax" style="background-image:url('{{ entry.glassfiberHeroImage.first().getUrl() }}');" data-img-width="1600" data-diff="0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="intro">
                   {{ entry.glassfiberHeroContent }}
                </div>
                    
            </div>

        </div>
    </div>
</section>

<section class="section background parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/glassfiber2.jpg');" data-img-width="1600" data-diff="0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box">

                </div><!-- intro -->
            </div>

            <div class="col-md-6">
                <div class="intro box -white">
                    {{ entry.glassfiberContent1 }}
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section -definition">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                {{ entry.glassfiberFeatureTitle }}
            </div>
        </div>
    </div>
</section>


<section class="section -side-image right-img fullscreen background bg -green1" style="background-image:url('{{ entry.glassfiberContent4.first().getUrl() }}');" data-diff="0">
    <div class="content-a">
        <div class="content-b">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="intro -custom text-left rte">
                           {{ entry.glassfiberContent3 }} 
                           
                        </div>
                            
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


{% include "_footer" %}
{% include "_footer2" %}