<div class="col-sm-4 ">
    {% if category is defined %}
    {% set maincat = category.slug %}
    {% endif %}
    {% set open = 0 %}
    <div class="sidebar set-height">
        <div class="side-widget">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h4>ข่าวแจ้งตลาดหนักทรัพย์</h4>
            {% else %}
                <h4>{{ craft.entries.section('setAnnouncementsPage').first().title }}</h4>
            {% endif %}
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% set categories = craft.categories.group('setAnnouncementsCategoryGroup').level(1) %}
                {% nav keys, category in categories %}
                {% set subCategories = craft.categories.descendantOf(category) %}
                <div class="panel" id="{{ category.slug }}">
                    {% if subCategories|length %}
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ keys }}" aria-expanded="true" aria-controls="collapse{{ keys }}">
                                <span class="fa fa-plus-square-o"></span>
                                {{ category.title }}
                            </a>
                        </h4>
                    </div>
                    {% else %}
                    <a href="{{ category.url }}" style=" margin-top: 0; margin-bottom: 0; font-size: 16px; color: #1d1d1d; padding: 10px 15px;">{{ category.title }}</a>
                    {% endif %}
                    {% if subCategories|length %}
                    <div id="collapse{{ keys }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ keys }}">
                        <div class="panel-body">
                            <ul>
                                {% for subcategory in subCategories %}
                                <li class="{% if maincat is defined and maincat == subcategory.slug %}active{% endif %}"><a href="{{ subcategory.url }}">{{ subcategory.title }}</a></li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endnav %}
            </div>
        </div><!-- side-widget -->

<!--
        <div class="side-widget">
            <h4>LATEST POSTS</h4>
            <ul class="list-unstyled popular-post">
                {% set thumb = {
                    mode: 'fit',
                    width: 60,
                    height: 72,
                    quality: 85, 
                    position: 'center-center' 
                } %}
                {% for keys, entry in craft.entries.section('financialStatements').limit(3) %}
                <li>
                    <div class="popular-img">
                        <a href="{{ entry.url }}"> <img src="{% if  entry.entryThumb.first()|length %}{{ entry.entryThumb.first().getUrl(thumb) }}{% else %}{{ craft.config.environmentVariables.baseUrl }}assets/img/cover_investor_GEL1.png{% endif %}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="popular-desc">
                        <h5> <a href="{{ entry.url }}">{{ entry.title }}</a></h5>
                        <span><i class="icon-clock"></i>{{ entry.postDate.format('F d, Y') }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
-->
        <!-- side-widget -->


    </div><!-- sidebar -->
