{% include "_header" %}
{% include "_header2" %}
{% set top = 4 %}

{% include "_topbar" %}

<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b" style="text-transform: uppercase;">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">{{ menuGlobal.corporateGovernanceMenuThai }}</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">{{ menuGlobal.corporateGovernanceMenu }}</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-60 _bottompd-100">
    <div class="sectional-header">
        {% if craft.i18n.getCurrentLocale() == 'th' %}
            <h3 class="heading">CG Score</h3>  
        {% else %}
            <h3 class="heading">{{ craft.entries.section('cgScore').first().title }}</h3>  
        {% endif %}
    </div>
    <div class="container" align="center" style="width:70%">
        <p style="text-align:justify;">
            The 2019 Corporate Governance Report of Thai Listed Companies (CGR), conducted by the Thai Institute of Directors (IOD) with support from the Stock Exchange of Thailand (SET) on October 28, 2019
        </p>
        <p style="text-align:justify;">
            General Engineering Public Company Limited together with 193 companies received excellent rating by SET, from over 667 listed companies being evaluated. There are 258 companies with very good rating, 137 companies with good rating, and 89 companies with satisfactory rating and below.
        </p>            
        <img src="{{ craft.config.environmentVariables.baseUrl }}assets/images/investor/CG-score.jpg">
    </div>
</section>



{% include "_footer" %}
{% include "_footer2" %}