{% include "_header" %}
{% include "_header2" %}
{% set top = 4 %}

{% include "_topbar" %}
<!--
<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head7.jpg');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            <h1 class="{% if craft.i18n.getCurrentLocale() == 'th' %}rsubold{% else %}montserrat-bold{% endif %} fonts">{% if craft.i18n.getCurrentLocale() == 'th' %}ผลงานของเรา{% else %}PORTFOLIOS{% endif %}</h1>
            <div class="inside">{{ category.title }}</div>
        </div>
    </div>
</section>
-->
<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">{{ menuGlobal.corporateSocialResponsibilityMenuThai }}</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">{{ menuGlobal.corporateSocialResponsibilityMenu }}</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-100 _bottompd-100">
    <!--
    <div class="sectional-header">
        <h3 class="heading">{{ craft.entries.section('corporateSocialResponsibility').first().title }}</h3>  
    </div>
    -->
    <div class="container" align="center" style="width:70%">
        <div class="row" style="padding-bottom:30px;">
            <div class="col">
                <p align="center" style="font-size:30px; padding-bottom:30px;">At GEL, we are always fully aware of Corporate Social Responsibilities at all times. 
                    CSR is fully instilled in the entire parts of our organization ranging from Company policy level to all of the operational levels.
                </p>
                <p style="text-align:justify;">We believe that business organization, consisted of hundreds of employees and a 
                    group of stakeholders, is just one of the small parts in the society comparing to the number of population 
                    in the whole country. We also believe that if each organization runs its business with the fully Corporate 
                    Social Responsibilities integration, it can be the effective alliance striving significantly for the long-term 
                    and sustainable development for both communities level and nationwide.
                </p>
                <p style="text-align:justify;">To implement the Corporate Social Responsibilities program, GEL’s board of directors 
                    approved the CSR policy which covered all of aspects as appropriated and align with each of business type. It 
                    started with main internal business unit since the company commencement. Safety, Occupational Health and Working 
                    Environment Policy for employees and contractors was the first priority that we focused. It was designed to be 
                    the mandatory policy enhancing the energy saving and environmental activities.
                </p>
                <p style="text-align:justify;">In Year 20165, GEL continuously maintained both of the long-term and continuous CSR 
                    projects in order to keep the society and community developed.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align:justify;"><h3>Social, Community and Environmental Policy and framework</h3>
                </p>
                <p style="text-align:justify;">GEL emphasized on running sustainability growth business together with the development 
                    of society, community, environment and quality of life. With totally CSR realization, GEL promoted CSR policy in 
                    all level of our organization ranging from Company policy level to all of the operational levels. It was being 
                    actively implemented in every parts of GEL. We believe that the business operation with the Corporate Social 
                    Responsibilities integration is one of the important factor which drives for the sustainable development for both 
                    communities level and nationwide. In 2014, GEL was granted for the first place of Green Industry certification from 
                    the Ministry of Industry, Pathumthani province. GEL was also granted for the certificate of Environmental Good 
                    Governance from the Ministry of Industry and the official license as GEL abided by the standard of factory 
                    environmental management in practical such as particulate matter/dust control in plant, construction scrap materials 
                    elimination and solid waste disposal.
                </p>
                <p style="text-align:justify;">GEL takes the CSR program as an important role and responsibility in promoting and arranging 
                    the wide range of beneficial activities in order to support the program always. GEL continuously organized the certain 
                    activity including the periodically activities as appropriate and required by the society. The activities were covered 
                    both of the benefit for macro-community level and operational level which can demonstrate GEL’s goal obviously in 
                    rewarding the society continuously every year.
                </p>
                <p><br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align:justify;">
                    <h3>In 2017 The Company Activities are Organized to Benefit Society and the Environment as Follows</h3>
                </p>
            </div>
        </div>
        <div class="row" style="padding:20px; background:#fbfcfd;">
            <div class="col-md-4">
                <img aligwidth="283px" height="159px" src="{{ craft.config.environmentVariables.baseUrl }}assets/images/investor/activity-1-1.jpg">
            </div>
            <div class="col-md-8">
                <p style="text-align:justify;">
                    <b>The National Children’s Day gift activity</b>
                </p>
                <p style="text-align:justify;">
                    General Engineering Public Company Limited by Human Resource Development donated the presents to Khun Watcgarporn 
                    Kromkreng, Director and Wat Bangkudeethong School’s the students due to the National Children's Day 2017 which was 
                    held on 13th January 2017.
                </p>
                <p style="text-align:justify;">
                    General Engineering Public Company Limited by Security Department donated the presents to Samkok Police Stationthe 
                    students due to the National Children's Day 2016 which was held on 13th January 2017.
                </p>
            </div>
        </div>

        <div class="row" style="padding:20px; background: #f0f5f8">  
            <div class="col-md-8">
                <p style="text-align:justify;">
                    <b>Presents Donation to Samkok Police Station</b>
                </p>
                <p style="text-align:justify;">
                    General Engineering Public Company Limited by Security Department donated the presents to Samkok Police Stationthe students 
                    due to the National Children's Day 2016 which was held on 13th January 2017.
                </p>
            </div>
            <div class="col-md-4">
                <img aligwidth="282px" height="212px" src="{{ craft.config.environmentVariables.baseUrl }}assets/images/investor/activity-1-2.jpg">
            </div>
        </div>

        <div class="row" style="padding:20px; background:#fbfcfd;">
            <div class="col-md-4">
                <img aligwidth="283px" height="143px" src="{{ craft.config.environmentVariables.baseUrl }}assets/images/investor/activity-2-3.jpg">
            </div>
            <div class="col-md-8">
                <p style="text-align:justify;">
                    <b>Blood Donation Activity</b>
                </p>
                <p style="text-align:justify;">
                    General Engineering Public Company Limited arranged the blood donation campaign in series. The 20th donation campaign was 
                    arranged on 25th September 2017, in the opportunity. The donation will help provide blood to support patients in Thai Red Cross Society.
                </p>
            </div>
        </div>
    </div>
</section>



{% include "_footer" %}
{% include "_footer2" %}