{% include "_header" %}
{% include "_header2" %}
{% set top = 4 %}

{% include "_topbar" %}
<!--
<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head7.jpg');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            <h1 class="{% if craft.i18n.getCurrentLocale() == 'th' %}rsubold{% else %}montserrat-bold{% endif %} fonts">{% if craft.i18n.getCurrentLocale() == 'th' %}ผลงานของเรา{% else %}PORTFOLIOS{% endif %}</h1>
            <div class="inside">{{ category.title }}</div>
        </div>
    </div>
</section>
-->
<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b" style="text-transform: uppercase;">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">{{ menuGlobal.financialInfoMenuThai }}</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">{{ menuGlobal.financialInfoMenu }}</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-60 _bottompd-100">
    <!--
    <div class="container" style="width:70%; padding-left: 50px;">
        <p style="text-align:justify;">      
            <p>{{ entry.entryContent }}</p>
        </p>
    </div>
    -->    
    <div class="sectional-header">
        {% if craft.i18n.getCurrentLocale() == 'th' %}
            <h3 class="heading">ข้อมูลทางการเงินที่สำคัญ</h3>
        {% else %}
            <h3 class="heading">{{ craft.entries.section('financialHighlights').first().title }}</h3>
        {% endif %}
    </div>
    <div class="container" align="center">
        <img src="{{ craft.config.environmentVariables.baseUrl }}assets/images/investor/GEL-Financial-Hightlights1.png">
        <br /><br />
        <img src="{{ craft.config.environmentVariables.baseUrl }}assets/images/investor/GEL-Financial-Hightlights2.png">
    </div>
</section>



{% include "_footer" %}
{% include "_footer2" %}