{% include "_header" %}
{% include "_header2" %}
{% set top = 4 %}

{% include "_topbar" %}
<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b" style="text-transform: uppercase;">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">{{ menuGlobal.corporateGovernanceMenuThai }}</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">{{ menuGlobal.corporateGovernanceMenu }}</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-60 _bottompd-100">
    <div class="sectional-header">
        <h3 class="heading">{{ craft.entries.section('importantDocument').first().title }}</h3>
    </div>
    <div class="container" style="width:70%; padding-left: 50px;">
        <p style="text-align:justify;">      
            <p>{{ entry.entryContent }}</p> 
        </p>
    </div>
</section>



{% include "_footer" %}
{% include "_footer2" %}