{% include "_header" %}
{% include "_header2" %}
{% set top = 4 %}

{% include "_topbar" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<section class="title-page parallax" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/head9.png');" data-img-width="1600" data-diff="100">
    <div class="content-a">
        <div class="content-b" style="text-transform: uppercase;">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                <h1 class="rsubold fonts">ติดต่อ IR</h1>
            {% else %}
                <h1 class="montserrat-bold fonts">{{ craft.entries.section('irContact').first().title }}</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="section _toppd-60 _bottompd-100">

    <script>  
    
        var config;
       
        $(document).ready(function() {
            clearFields();

            try {
                $.getJSON('/investors/config.json', function(data) {
                    config = data;
                    // console.log("Service: " + config.IrService);
                    // console.log("URL: " + JSON.stringify(data));
                });

                $('#submit-btn').click(function() {
                    clearErrors();

                    let name = getInput($('#name').val());
                    let email = getInput($('#email').val());
                    let tel = getInput($('#tel').val());
                    let information = getInput($('#information').val());

                    if(checkForm(email, information)) {
                        // console.log('Submitted!!');
                        sendEmail(name, email, tel, information);
                    }
                }) 
            } 
            catch(e) {
                console.error(e);
                alert('Cannot send your request. Error: ' + e);
            }
           
        });

        function sendEmail(name, email, tel, information) {
            
            let jsonData = JSON.stringify({funct:'ir', name: name, email: email, tel: tel, information: information});
            console.log(jsonData);
            console.log("Service: " + config.irService);
           
            $.ajax({
                type: "POST",
                url: config.IrService,
                data: jsonData
                //dataType: "json"
            })
            .done(function(data) {
                console.log('Done');
                try {
                    console.log(data);
                    let parsedData = $.parseJSON(data);
                    console.log('Finish submission. Status: ' + parsedData.status + ', MSG: ' + parsedData.msg);

                    if(parsedData.status === false) {
                        console.log('Error: ' + parsedData.msg);
                        alert('Error: ' + parsedData.msg);
                    }
                    else {
                        // console.log('Success');
                        alert('Email has been sent to our staff.');
                        clearErrors();
                        clearFields();
                    }
                } catch (e) {
                    console.error(e.message);
                    alert('Cannot send your request. Error: ' + e.message);
                }
                
            })
            .fail(function(xhr, status, errorThrown) {
                alert('Cannot send your request. Error: ' + errorThrown);
                console.error("Fail: " + status + ", " + errorThrown);                            
                // console.log(xhr.responseText);
                // console.dir(xhr);
            // })
            // .always(function(xhr, status) {                            
            //     console.log('Always: ');
            });
        }

        function getInput(input) {
            return input;
        }

        function clearErrors() {
            $('#email-error').hide();
            $('#information-error').hide();
            $('#name-error').hide();
        }

        function clearFields() {
            $('#name').val("");
            $('#email').val("");
            $('#tel').val("");
            $('#information').val("");
        }

        function checkForm() {
            let error = false;

            console.log($('#email').val() + ":before");
            console.log($('#information').val() + ":before");

            if( $('#email').val() == null
                || $('#email').val() == undefined
                || $('#email').val() === '') {
                error = true;
                
                $('#email-error').text('Please enter your email.');
                $('#email-error').show();
                console.log($('#email').val() + ":after");
            }
            else {
                if ( (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#email').val())) === false ) {
                    console.log('Wrong email format!');

                    $('#email-error').text('Wrong email format!');
                    $('#email-error').show();
                    error = true;
                }
            }

            if( $('#name').val() == null
                || $('#name').val() == undefined
                || $('#name').val() === '') {
                
                error = true;

                $('#name-error').text('Please enter your name.');
                $('#name-error').show();
                console.log($('#name').val() + ":after");

            }
            

            if( $('#information').val() == null
                || $('#information').val() == undefined
                || $('#information').val() === '') {
                error = true;

                $('#information-error').text('Please enter information.');
                $('#information-error').show();
                console.log($('#information').val() + ":after");
            }
            
            return !error;
        }        
    </script>


    <!--
    <div class="sectional-header">
        <h3 class="heading">{{ craft.entries.section('irContact').first().title }}</h3>  
    </div>
    -->
    <div class="container" style="width:60%">
        <div class="row">
            <div class="col-md-12">
                <b>General Enginnering Investor Relations</b>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top:10px;">
            {% if craft.i18n.getCurrentLocale() == 'th' %}
                44/2 หมู่ 2 ถนนติวานนท์ ต.บางกะดี อ.เมือง จ.ปทุมธานี 12000
            {% else %}
                44/2 Moo2 Tivanont Road, Bangkadi, Muang Pathumthani, Pathumthani, 12000, Thailand
            {% endif %}
            <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><span style="color:grey; font-size:15px;">{% if craft.i18n.getCurrentLocale() == 'th' %}อีเมล์{% else %}EMAIL GEL{% endif %}</span></p>
                <p><span style="color:#1d5124; font-size:30px; font-family: montserratbold;"><b>IR@GEL.CO.TH</span></b></p>
            </div>
            <div class="col-md-4">
                <p><span style="color:grey; font-size:15px;">{% if craft.i18n.getCurrentLocale() == 'th' %}โทร{% else %}CALL GEL{% endif %}</span></p>
                <p><span style="color:#1d5124; font-size:32px; font-family: montserratbold;">+6625011055</span></p>
            </div>
            <div class="col-md-4">
                <p><span style="color:grey; font-size:15px;">{% if craft.i18n.getCurrentLocale() == 'th' %}แฟ๊กซ์{% else %}FAX GEL{% endif %}</span></p>
                <p><span style="color:#1d5124; font-size:32px; font-family: montserratbold;">+6625012134</span></p>
            </div>
        </div>
        <hr>
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                <p>
                    {% if craft.i18n.getCurrentLocale() == 'th' %}
                        กรุณาระบุข้อมูลที่ต้องการติดต่อ
                    {% else %}
                        Please leave your information below should you have any inquiries
                    {% endif %}
                </p>
                <form class="needs-validation" action="#">                    
                    <div class="form-group">
                        <label for="email">Email (อีเมล์) <span class="text-danger">*</span></label>
                        <input class="form-control" type="email" name="email" id="email" />        
                        <div id="email-error" style="color:red"></div>
                    </div>
                    <div class="form-group">
                        <label for="name">Your Name (ชื่อ) <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="name" id="name" />
                        <div id="name-error" style="color:red"></div>
                    </div>
                    <div class="form-group">
                        <label for="tel">Tel (เบอร์ติดต่อ)</label>
                        <input class="form-control" type="text" name="tel" id="tel" />
                    </div>
                    <div class="form-group">
                        <label for="information">Information (ข้อมูลที่ต้องการสอบถาม)<span class="text-danger">*</span></label>
                        <textarea class="form-control" name="information" id="information" rows="4"></textarea>
                        <div id="information-error" style="color:red"></div>
                    </div>
                    <button type="button" name="submit-btn" id="submit-btn" class="btn btn-primary" style="background-color:#1f5026;">Submit</button>
                </form>
            </div>            
        </div>
    </div>

</section>

{% include "_footer" %}
{% include "_footer2" %}